#container {
    width: 100%;
    height: 97vh;
    border: 1px solid black;
    display: flex;

}
.game {
    width: max-content;
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin: auto;
    align-items: center;

}
.game > div {
    height: 100px;
    width: 100px;
    background-color: rgb(1, 180, 180);
    border-radius: 7px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.game > div:hover{
    background-color: rgb(1, 222, 222);
}
